body {
    /* Descomente a linha abaixo e substitua #f8f9fa pela cor que deseja usar como cor de fundo */
    /* background-color: #f8f9fa; */
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-label {
    font-weight: 500;
}

.table th {
    font-weight: 500;
}

.linhasep {
    border-width: 10px;
    border-style: solid;
    border-color: red;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* v1

body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: 500;
}

.table th {
    font-weight: 500;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: 500;
}

.table th {
    font-weight: 500;
}

.linhasep {
    border: 10px solid red;
}
*/